<h2>注文情報入力</h2>
<h3>支払方法</h3>
    <%= form_with model: @order,url: public_orders_new_path do |f| %>
        <label><%= f.radio_button :payment_method, "card" %>クレジットカード</label>
        <label><%= f.radio_button :payment_method, "bank" %>銀行振込</label>
    <% end %>
<h3>お届け先</h3>
    <%= form_with model: @order,url: public_orders_new_path do |f| %>
        <label>
            <%= f.radio_button :ordered_address do %>
        
            <% end %>
        </label>
        <label>
            <%= f.radio_button :ordered_address do %>
            
            <% end %>
        </label>
        <label>
            <%= f.radio_button :ordered_address do %>
            
            <% end %>
        </label>
    <% end %>

    