<div class='container'>
    <div class='row'>
        <div class='col-xs-9'>
            <div>
            <h4>注文情報</h4>
                <p>注文日</p>
                    <%= @order.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                <p>配送先</p>
                    <%= @order.ordered_postal_code %>
                    <%= @order.ordered_address %>
                    <%= @order.receriver_name %>
                <p>支払方法</p>
                <p>ステータス</p>
                    <%= @order.order_status %>
            <h4>請求情報</h4>
                <p>商品合計</p>
                    <%= @total_price %>
                <p>配送料</p>
                <p>800</p>
                <p>ご請求額</p>
                    <%= @order.billing_amount %>
            </div>
            <div>
            <h4>注文内容</h4>
                <p>商品</p>
                <p>単価（税込）</p>
                <p>個数</p>
                <p>小計</p>
                <% @order_item.each do |order_item| %>
                    <%= order_items.item.item_name %>
                    <%= order_items.price %>
                    <%= order_items.item_count %>
                    <%= (order_items.price*order_item.item_count) %>
                <% end %>
            </div>
        </div>
    </div>
</div>