<h3>商品一覧</h3>
<div>
    <%= @items.each do |item| %>
    <tr>
        <td>
            <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x200" %>
            <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
        </td>
        <td>
            <%= item.name %>
        </td>
        <td>
            ¥<%= item.price %>
        </td>
    </tr>
    <% end %>
</div>